.title {
  font-size: 18px;
  padding: 8px 0 8px 0;
}

.login_div {
  margin: 0 auto;
  height: 80%;
  width: 80%;
  background-color: white;
  padding: 15px;
  margin-top: 5%;
  flex-direction: column;
  justify-content:center;

}

.btn_div .btn {
  margin: 5px;
  justify-content:center;
}
